.bg-teal {
  background: $teal;
}

.bg-gray-1500 {
  background: $gray-1500;
}

.bg-yellow-1000 {
  background: $yellow-1000;
}

.bg-yellow-1100 {
  background: $yellow-1100;
}

.bg-red-1000 {
  background: $red-1000;
}

.bg-primary--hover:hover {
  background: $blue !important;
}

.bg-blue-700--hover:hover {
  background: tint($blue, 70%) !important;
}

.custom-bg-primary {
  background: url("/assets/bg.svg");
}

.bg-gray-1200 {
  background: $gray-1200;
}
