.text-underline--hover:hover {
  text-decoration: underline!important;
}

.bg-teal {
  background: $teal;
}

.lh-min-base {
  line-height: 1.4;
}

.lh-sm-base {
  line-height: 19px;
}

.letter-spacing-0 {
  letter-spacing: 0px;
}


