<div class="d-flex bg-white border border-2 bd-black box-shadow-d-2 box-shadow-black rounded-2 p-3">
  <div class="d-flex align-items-center m-auto me-3">
    <img class="like-user-photo rounded-circle border border-2 bd-black" [src]="imgUrl" alt="post creator photo">
  </div>
  <div class="d-flex justify-content-between w-100">
    <div>
      <p class="lh-base underline--hover cursor-pointer mb-0" font="noto" (click)="goPersonalPostPage()">
        {{nickName}}
      </p>
      <p class="text-gray-1100 lh-m-base fs-7 mb-0" font="noto">
        發文時間：{{createdDatetime}}
      </p>
    </div>
    <div class="h-100 d-flex align-items-center fs-7 lh-m-base me-3" font="noto">
      <div class="d-flex flex-column align-items-center like-btn me-3 pe-1" (click)="deleteLike()">
        <img class="like-icon" src="assets/like.svg" alt="讚">
        <p class="mb-0" font="noto">取消</p>
      </div>
      <div class="d-flex flex-column align-items-center check-btn ms-3 pe-1" (click)="goViewPost()">
        <img class="check-icon" src="assets/circle-right-regular.svg" alt="查看">
        <p class="mb-0" font="noto">查看</p>
      </div>
    </div>
  </div>
</div>
