

.navigator-bar {
  border: 3px solid ;
  border-radius: 32px;
}

.navigator-btn {
  width: 48px;
  height: 48px;
}

.home-icon {
  width: 20px;
  height: 22px;
}

.alert-icon {
  width: 20px;
  height: 25px;
}

.like-icon {
  width: 20px;
  height: 20px;
}

.add-icon {
  filter:invert(1);
  width: 16px;
  height: 16px;
}
