.custom-btn {
  box-shadow: -2px 2px 0px $black;
  border: 2px solid $black;
  border-radius: 8px;
  line-height: 19px;
}

.custom-btn-second {
  padding: 16px 130px;
}

.custom-btn-primary {
  background: $blue;
  color: #fff;
}

.custom-btn-primary--hover:hover {
  background: tint($blue, 20%);
  color: #fff;
}

.custom-btn-info {
  background: $cyan;
  color: #fff;
}

.custom-btn-info--hover:hover {
  background: dark($cyan, 20%);
  color: #fff;
}

.custom-btn-black {
  background: $black;
  color: #fff;
}

.custom-btn-black--hover:hover {
  background: tint($black, 20%);
  color: #fff;
}

.custom-btn-gray-1200 {
  background: $gray-1200;
  color: $black;
}

.custom-btn-gray-1200--hover:hover {
  background: dark($gray-1200, 20%);
  color: $black;
}

.custom-btn-yellow-1200--hover:hover {
  background: $yellow-1200;
  color: $black;
}

.custom-btn-secondary-disabled:disabled {
  color: #fff;
  background: $gray-1200;
  border-color: $gray-1300;
}
