.media-primary-wrapper {
  position: relative;
  z-index: 10;
}

.media-primary-wrapper::after {
  content: "";
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  top: 6px;
  right: 5px;
  border: 2px solid $black;
  z-index: -1;
}

.media-primary-content {
  border-top: 2px solid $black;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
}

.media-primary-photo {
  object-fit: cover;
  border: 2px solid $black;
  border-radius: 8px 0px 0px 8px;
}
