<div class="post bg-white border border-2 bd-black rounded-2 p-4">
  <div class="mb-3">
    <app-post-user-profile [creator]="post.creator" [createdAt]="post.createdAt" postUserProfilePhotoClass="me-3"></app-post-user-profile>
  </div>
  <p class="" font="noto">
    {{post.content}}
  </p>
  <div class="mb-3 pb-1" *ngIf="post.imgURL!==''">
    <app-post-image [imgUrl]="post.imgURL"></app-post-image>
  </div>
  <div class="d-flex align-items-center mb-3 pb-1">
    <div class="post-like-btn d-inline-flex rounded-5 me-2" (click)="toggleLike()">
      <img class="post-like" src="/assets/like.svg" alt="讚">
    </div>
    <p class="mb-0" font="baloo">{{post.likes.length}}</p>
  </div>
  <div class="row mb-3">
    <div class="d-none d-md-block col-md-1">
      <img class="comment-user-photo me-2" [src]="userImgUrl" alt="用戶照片">
    </div>
    <div class="col-12 col-md-11 d-flex align-items-center">
      <input type="text" class="comment-input custom-input-sm custom-input-black w-100 lh-sm-base bd-r-0" placeholder="留言..." [(ngModel)]="commentMessage">
      <button class="comment-btn bg-primary text-white lh-sm-base border border-2 bd-black" font="azeret" (click)="sendComment()">
        留言
      </button>
    </div>
  </div>
  <ul class="list-unstyled">
    <li *ngFor="let comment of post.comments;let idx=index" class="" [class]="{'mb-3':idx!==(post.comments.length-1)}">
      <app-comment [comment]="comment"></app-comment>
    </li>
  </ul>
</div>
